{{ partial "header" . }}

<div class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <img id="logo" src="/images/logo.svg" class="image">
  </div>
</div>

<!-- <div class="ui vertical stripe segment">
  <div class="ui middle aligned container">
    <div class="ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        main.yml
      </div>
      <div class="content">
        <pre id="example-yaml" class="code">
          {{ partial "main.yml" . }}
        </pre>
      </div>
    </div>
  </div>
</div> -->

<div class="ui vertical stripe segment">
  <div class="ui fluid container">
    <textarea id="code-yaml">
      {{ partial "main.yml" . }}
    </textarea>
  </div>
  <div class="ui text container">
    <button id="convert-button" class="ui fluid icon button">
      <i class="refresh icon"></i>
      convert
    </button>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h2>result</h2>
  </div>
  <div class="ui fluid container">
    <textarea id="code-csv">
    </textarea>
  </div>
</div>



{{ partial "footer" . }}
