{{ partial "header" . }}

<div class="masthead">
  <div class="ui text container">
    <a href="/">
      <img id="logo" src="/images/logo.svg" class="image">
    </a>
  </div>
</div>


<div id="incoming"  class="">
  <div class="ui center aligned text container">


    <div id='error-container' class="ui red error message">
      <i class="cancel icon"></i>
      <span id='error-msg'></span>
      </div>
    <div id="dropzone">
      <form action="/upload" class="dropzone needsclick dz-clickable" id="fake-upload">
       <div class="dz-message needsclick">
         Drop a YAML file to convert it to CSV<br>
       </div>
     </form>
    </div>
  </div>
<!-- 
  <div id="seperator" class="ui text container">
    <div class="ui accordion">
      <div class=" title">
        <i class="dropdown icon"></i>
        Change seperator
      </div>
      <div class=" content">
        <div class="ui selection dropdown">
          <input type="hidden" name="seperator" value="0">
          <i class="dropdown icon"></i>
          <div class="default text">Seperator</div>
          <div class="menu">
            <div class="item" data-value="0">,</div>
            <div class="item" data-value="1">;</div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
 
</div>

<div  id="result" class="ui vertical stripe segment">
  <div class="ui container stackable grid">
    <div class="row">
      <div class="tweleve wide column">
        <h1>Your file is ready</h1>  
      </div> 
    </div> 
    <div class="row">
      <div class="four wide column">
        <button class="btn visibility">
        <i class="unhide icon"></i>
          show me
        </button>
      </div>
      <div class="four wide column">
        <button class="btn download">
        <i class="download icon"></i>
          download
        </button>
      </div>
      <div class="five wide column">
        <button id="copy" class="btn" data-clipboard-target="#csv-copy">
          <i class="copy icon"></i>
          copy to clipboard
        </button>
      </div>
      <div class="three wide column">
        <div class="ui green copy message">
          <i class="check icon"></i>
          Copied
        </div>
      </div>
    </div>
  </div>


  
  <div class="ui fluid container">
    <textarea id="csv" class="code"></textarea>
  </div>

  <div id="csv-copy-wrapper">
    <textarea id="csv-copy"></textarea>
  </div>
  
</div>


<footer>
  <div class="ui text container">
    <a href="https://beetwo.at" target="_blank">BeeTwo —where digital innovation meets social impact</a>
  </div>
</footer>


<div id="dropzone-template">
  <i class="undo icon"></i>
</div>



{{ partial "footer" . }}
